<!DOCTYPE>
<html>
	<head>
		<title> Learn HTML</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>

		<div id="container">
			<!--<img src="{{ url_for('static', filename='images/max.jpg') }}">-->
			<div id="header">
				<h2>The Webpage</h2>
			</div>
			<div id="nav">
				<ul>
					<a href="/Home"><li>Home</li></a>
					<a href=""><li>Technology</li></a>
					<a href=""><li>Health</li></a>
					<a href=""><li>Science</li></a>
					<a href=""><li>Contact Us</li></a>
					<div style="clear:both;"></div>
				</ul>
			</div>
			<div id="middle">
				<div id="left">
					<div class="post">
						<div class="title"><h2>Health is Good</h2></div>
						<div class="description">
							We are the people needed for the job. We are the best people needed for this job.
							We are also known as the.We are the people needed for the job. We are the best people needed for this job.We are the people needed for the job. We are the best people needed for this job.
							We are also known as the.  needed for this 
							We are also known as the.We are the people needed for the job. We are the best peoplejob.We are the people needed for the job. We are the best people needed for this job.
							We are also known as the.......... <a href="#">Continue Reading</a>
						</div>
					</div>
					<div class="post">
						<div class="title"><h2>Health is Good</h2></div>
						<div class="description">
							We are the people needed for the job. We are the best people needed for this job.
							We are also known as the.We are the people needed for the job. We are the best people needed for this job.We are the people needed for the job. We are the best people needed for this job.
							We are also known as the.  needed for this 
							We are also known as the.We are the people needed for the job. We are the best peoplejob.We are the people needed for the job. We are the best people needed for this job.
							We are also known as the.......... <a href="#">Continue Reading</a>
						</div>
					</div>
					<div class="post">
						<div class="title"><h2>Health is Good</h2></div>
						<div class="description">
							We are the people needed for the job. We are the best people needed for this job.
							We are also known as the.We are the people needed for the job. We are the best people needed for this job.We are the people needed for the job. We are the best people needed for this job.
							We are also known as the.  needed for this 
							We are also known as the.We are the people needed for the job. We are the best peoplejob.We are the people needed for the job. We are the best people needed for this job.
							We are also known as the.......... <a href="#">Continue Reading</a>
						</div>
					</div>
				</div>
				<div id="right">
					<h2>Latest News</h2>
					<div id="total_things">
						<div class="latest_post">Health is wealth</div>
						<div class="latest_post">Health is wealth</div>
						<div class="latest_post">Health is wealth</div>
						<div class="latest_post">Health is wealth</div>
						<div class="latest_post">Health is wealth</div>
					</div>
					<div id="news_letter">
						<div class="news_letter_head"> Our News Paper</div>
						<input type="text" name="">
						<input type="submit" name="">
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div id="footer"></div>

		</div>
	</body>
</html>